@import '../../styles/vars';
@import '../../styles/mixins';

.gallery-strip {
  display: grid;
  place-items: center;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;

  &__button {
    background-color: transparent;
    border: none;
    margin-bottom: 6px;
  }

  &__img {
    width: 100%;
    cursor: zoom-in;
    
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }

    @include onMobile {
      &:hover {
        transform: scale(1);
      }
    }
  }
}

#gallery-strip__favorite-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

#masonry {
  overflow: hidden;
}
